#tfPesquisa {
    background-image: url('searchicon.png'); /* Adiciona o ícone ao input */
    background-position: 10px 12px; /* Posiciona o ícone de pesquisa */
    background-repeat: no-repeat; /* Não repete o ícone */
    width: 100%; /* Full-width */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    padding: 12px 20px 12px 40px; /* Adiciona padding */
    border: 1px solid #ddd; /* Adiciona uma borda cinza */
    margin-bottom: 12px; /* Adiciona um espaço */
}